* {
  font-family: "Roboto", sans-serif;
}
.contain {
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input {
  width: 250px;
  height: 40px;
}
.login input {
  margin-right: 5px;
}
.btn-reg {
  margin: 20px;
}
.alert{
  margin-top: 10px;
  color: red;
}